<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YTNetwork.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>YTNetworkExample.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>822343C81E14B33E00B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822343DC1E14B33E00B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822343E71E14B33E00B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822344001E14B3BF00B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822344081E14B3BF00B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822344421E14F99A00B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8223444A1E14F99B00B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822344641E14FA0200B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822344DD1E15002D00B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822344E51E15002D00B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822344FF1E15004100B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8223450C1E15008300B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822345191E15009600B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822345211E15009600B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822345351E1500B500B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8223453D1E1500B500B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822345511E15029400B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822345591E15029400B1CCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
